/* Text */
.formalwheninformal {
    font-family: "Comic Neue";
}


/* Heading */
.heading {
font-family: var(--heading-font);
font-weight: bolder;
text-decoration: none;
color: var(--heading-color); 
font-size: 2em;
}

/* Subheading */
.subhead {
font-family: var(--subheading-font);
color: var(--subheading-color);
font-size: 1.5em;
}

a:any-link {
text-decoration: none;
}   

/* Normal Text */
.text {
font-family: var(--text-font);
font-size: 1em;
color: var(--text-color);
}

/* Elements */
body {
display: flex;
flex-direction: column;
padding: 0;
margin: 0;
min-height: 100%;
margin-top: 1rem;
}





main {
width: 100%;
height: 100%;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: column;
object-fit: contain;
}

.uparrow {
position: fixed;
bottom: 5vh;
right: 3vw;
width: 5ch;
height: 5ch;
background-color: #818281;
display: flex;
justify-content: center;
vertical-align: middle;
align-items: center;
border-radius: 50%;
opacity: var(--opacity);
}

svg {
width: 60%;
height: 60%;
object-fit: fill;
}



.footerbar {
content: "";
height: 0.1vw;
background-color: #fff;
border-radius: 1vw;
width: 100%;
}

#pics {
width: 60ch;
display: flex;
flex-direction: column;
justify-content: space-evenly;
margin-right: auto;
border: 0;
border-color: #fff;
}



::selection {
background: #802823;
}

html, body {
max-width: 100%;
height: 100%;
overflow-x: hidden;
}

#dropdown {
background-color: #fff;
z-index: 999;
list-style: none;
padding: 0vw;
position: absolute;
left: 12vw;
top: 3vw;
}

#text {
width: 60ch;
margin-left: auto;
}

#pics > div {
    display: flex; height: 90%; width: 90%; margin-left: auto; margin-right: auto; background-size: contain; overflow: scroll; background-repeat: no-repeat; background-position: center; 
}

#img1 {background-image: var(--img1);}
#img2 {background-image: var(--img2);}
#headlogo {background-image: var(--head);}

input[type="radio"][name^="gabagool"] {
display: absolute;
position: absolute;
opacity: 0;
}

footer {
    flex-direction: column;
    display: flex;
    color: var(--footer-color);
}

#formal[type="radio"][name^="gabagool"]:checked ~ main {
--heading-font: "Comfortaa";
--subheading-font: "Raleway";
--text-font: "Zilla Slab";
--img1: url("https://raw.githubusercontent.com/Orangian/mood-website/master/arugula-1471472.jpg");
--img2: url("https://raw.githubusercontent.com/Orangian/mood-website/master/flowers-7299979.jpg");
--opacity: 1;
--heading-color: #802823;
--subheading-color: #dd9350;
--text-color: #000;
--footer-color: #fff;
--footer-bg: #363737;
}

#formal[type="radio"][name^="gabagool"]:checked ~ a {
--head: url("https://raw.githubusercontent.com/Orangian/mood-website/master/header-logo-nodash.svg");
}

#informal[type="radio"][name^="gabagool"]:checked ~ a {
--head: url("https://raw.githubusercontent.com/Orangian/mood-website/master/qern.svg");
}

#informal[type="radio"][name^="gabagool"]:checked ~ main {
--heading-font: "pilsner";
--subheading-font: "pilsner";
--text-font: "libre-franklin";
--img1: url("https://raw.githubusercontent.com/Orangian/mood-website/master/arugula.avif");
--img2: url("");
--opacity: 0;
--heading-color: #000;
--subheading-color: #000;
--text-color: #000;
--footer-color: #fff;
--footer-bg: #fff;
}

#formal[type="radio"][name^="gabagool"]:checked ~ label {
--heading-font: "Comfortaa";
--subheading-font: "Raleway";
--text-font: "Zilla Slab";
}

#informal[type="radio"][name^="gabagool"]:checked ~ label {
--heading-font: "pilsner";
--subheading-font: "pilsner";
--text-font: "libre-franklin";
}


#archaic[type="radio"][name^="gabagool"]:checked ~ label {
--heading-font: "crayonette-djr"; 
--subheading-font: "oddity-script";
--text-font: "oddity-script";
border-radius: 50%;
}


#archaic[type="radio"][name^="gabagool"]:checked ~ a {
--head: url("https://raw.githubusercontent.com/Orangian/mood-website/master/logo-undashed-sketched-black-text.svg");
}

#archaic[type="radio"][name^="gabagool"]:checked ~ main {
--heading-font: "crayonette-djr"; 
--subheading-font: "oddity-script";
--text-font: "oddity-script";
--img1: url("https://species-id.net/o/media/a/ab/Linedrawing_Eruca_vesicaria.gif");
--img2: url("https://upload.wikimedia.org/wikipedia/commons/d/dd/Eruca_sativa_USDA-plants.jpg");
--opacity: 0;
--heading-color: #000;
--subheading-color: #000;
--text-color: #000;
--footer-color: #fff;
--footer-bg: #fff;
}

#formal[type="radio"]:checked~label[for=formal] {
background-color: #dd9350;

}

#archaic[type="radio"]:checked~label[for=archaic] {
background-color: #E8DCB8;

}

/* as above, for the "vehicle2" id and for attributes: */
#informal[type="radio"]:checked~label[for=informal] {
background-color: aqua;
}

main {
    background-color: var(--bg-color);
    
}

#headlogo {
margin-left: auto;
margin-right: auto;
width: 30ch;
height: 7vw;
min-height: 50px;
background-size: contain; overflow: scroll; background-repeat: no-repeat; background-position: center; }


label[for=formal] {
    width: 8vw;
    position: relative;
    bottom: -1vw;
    left: 30%;
    font-size: 2vw;
    text-align: center;
}

label[for=informal] {
    width: 8vw;
    position: relative;
    bottom: 1.3vw;
    right: -46%;
    font-size: 2vw;
    text-align: center;
}

label[for=archaic] {
    width: 8vw;
    position: relative;
    font-size: 2vw;
    text-align: center;
    bottom: 3.6vw;
    right: -61%;
}

#wrapper {
    display: flex;
    width: 120ch;
    margin-left: auto;
    margin-right: auto;
}



/* Normal Text */
.footertext {
font-family: var(--text-font);
font-size: 1em;
color: var(--footer-color);
}

footer {
margin: 0;
padding: 0;
background-color: var(--footer-bg);
color: white;
width: 95%;
height: 4rem;
margin-top: auto;
font-size: 0.8em;
display: flex;
flex-direction: column;
padding-left: 2.5%;
padding-right: 2.5%;
padding-top: 2rem;
    position: absolute;
bottom: -2vw;
}