/* News Section */
.news > a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    color: #000;
    font-size: 1.5vw;
}

.news {
    font-size: 1.5vw;
    text-decoration: none;
}

.news a:link, .news a:visited, .news a:hover, .news a:active, .news a:focus {
    text-decoration: none;
}

.news a:hover, .news a:active, .news a:focus {
    color: #802823;
    transition: color .5s ease;
}

.news > h2 {
    font-size: 3vw;
}